# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/

# Environment Variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# PDV_API specific
pdv_API/.venv/
pdv_API/.env
pdv_API/__pycache__/

# PDV_View specific
pdv_View/node_modules/
pdv_View/dist/
pdv_View/.angular/
pdv_View/.env*
